.table-cell {
  padding: 12px;
  border-bottom: 1px solid #e0e0e0;
  color: #2c3e50;
}

.table-cell-content {
  display: flex;
  align-items: center;
  padding: 0px 12px;
} 

.expand-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  margin-right: 2px;
  display: flex;
  align-items: center;
  width: 20px;
}

.row-checkbox {
  margin-right: 8px;
  cursor: pointer;
} 